In [1]:
import pandas as pd

data = pd.read_csv(r"C:\Users\MRITH\Downloads\Mock_Project\Feedbacksummary.csv", encoding='ISO-8859-1')
data.head()

,Property_id,Id,Date,Reviewer_id,Reviewer_name,Comments
0,2015,69544350,4/11/2016,7178145,Rahel,Mein Freund und ich hatten gute gemÃ¼tliche vi...
1,2015,69990732,4/15/2016,41944715,Hannah,Jan was very friendly and welcoming host! The ...
2,2015,71605267,4/26/2016,30048708,Victor,Un appartement tres bien situÃ© dans un quarti...
3,2015,73819566,5/10/2016,63697857,Judy,"It is really nice area, food, park, transport ..."
4,2015,74293504,5/14/2016,10414887,Romina,"Buena ubicaciÃ³n, el departamento no estÃ¡ ord..."

In [2]:
data.columns = [col.lower().replace(' ', '_') for col in data.columns]

In [3]:
data.head()

,property_id,id,date,reviewer_id,reviewer_name,comments
0,2015,69544350,4/11/2016,7178145,Rahel,Mein Freund und ich hatten gute gemÃ¼tliche vi...
1,2015,69990732,4/15/2016,41944715,Hannah,Jan was very friendly and welcoming host! The ...
2,2015,71605267,4/26/2016,30048708,Victor,Un appartement tres bien situÃ© dans un quarti...
3,2015,73819566,5/10/2016,63697857,Judy,"It is really nice area, food, park, transport ..."
4,2015,74293504,5/14/2016,10414887,Romina,"Buena ubicaciÃ³n, el departamento no estÃ¡ ord..."

In [4]:
data.isnull().sum()

property_id        0
id                 0
date               0
reviewer_id        0
reviewer_name      0
comments         497
dtype: int64

In [5]:
data.dtypes

property_id       int64
id                int64
date             object
reviewer_id       int64
reviewer_name    object
comments         object
dtype: object

In [6]:
data.duplicated().sum()

0

In [7]:
data.shape

(401963, 6)

In [8]:
data = data.rename(columns={'id': 'feedback_id'})

In [9]:
data['date'] = pd.to_datetime(data['date'], errors='coerce')

In [10]:
data.dtypes

property_id               int64
feedback_id               int64
date             datetime64[ns]
reviewer_id               int64
reviewer_name            object
comments                 object
dtype: object

In [11]:
data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')

In [12]:
data.head()

,property_id,feedback_id,date,reviewer_id,reviewer_name,comments
0,2015,69544350,2016-04-11,7178145,Rahel,Mein Freund und ich hatten gute gemÃ¼tliche vi...
1,2015,69990732,2016-04-15,41944715,Hannah,Jan was very friendly and welcoming host! The ...
2,2015,71605267,2016-04-26,30048708,Victor,Un appartement tres bien situÃ© dans un quarti...
3,2015,73819566,2016-05-10,63697857,Judy,"It is really nice area, food, park, transport ..."
4,2015,74293504,2016-05-14,10414887,Romina,"Buena ubicaciÃ³n, el departamento no estÃ¡ ord..."

In [13]:
data['reviewer_name'] = data['reviewer_name'].str.lower().str.strip()
data['comments'] = data['comments'].str.strip()

In [14]:
data['comments'] = data['comments'].fillna('No comment')

In [15]:
data.head()

,property_id,feedback_id,date,reviewer_id,reviewer_name,comments
0,2015,69544350,2016-04-11,7178145,rahel,Mein Freund und ich hatten gute gemÃ¼tliche vi...
1,2015,69990732,2016-04-15,41944715,hannah,Jan was very friendly and welcoming host! The ...
2,2015,71605267,2016-04-26,30048708,victor,Un appartement tres bien situÃ© dans un quarti...
3,2015,73819566,2016-05-10,63697857,judy,"It is really nice area, food, park, transport ..."
4,2015,74293504,2016-05-14,10414887,romina,"Buena ubicaciÃ³n, el departamento no estÃ¡ ord..."

In [16]:
data['comments']=data['comments'].astype('str')

In [17]:
data.to_csv('feedback_summary.csv', index=False)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401963 entries, 0 to 401962
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   property_id    401963 non-null  int64
 1   feedback_id    401963 non-null  int64
 2   date           401963 non-null  datetime64[ns]
 3   reviewer_id    401963 non-null  int64
 4   reviewer_name  401963 non-null  object
 5   comments       401963 non-null  object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 18.4+ MB

In [31]:
data.shape

(401963, 6)